.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 28.35px;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--subtitle-color);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
