.cart {
  height: 100%;
  min-height: 100%;
}

.subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--color-card-title);
  margin-bottom: 13px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}
