.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.75rem;
}

.title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  color: var(--color-title);
  cursor: pointer;
}
